:root {	
	--influence-idx0: rgb(12, 100, 0);
	--influence-idx1: rgb(0, 200, 24);
	--influence-idx2: rgb(145, 255, 171);
	--influence-idx3: rgb(233, 216, 188);
	--influence-idx4: rgb(185, 223, 255);
	--influence-idx5: rgb(85, 138, 255);
	--influence-idx6: rgb(0, 11, 160);

	--probaility-present: rgb(255,255,128);
}

.influence-idx0 {
	background-color: var(--influence-idx0);
	color: white;
}
.influence-idx1 {
	background-color: var(--influence-idx1);
	color: black;
}
.influence-idx2 {
	background-color:var(--influence-idx2);
	color: black;
}
.influence-idx3 {
	background-color: var(--influence-idx3);
	color: black;
}
.influence-idx4 {
	background-color: var(--influence-idx4);
	color: black;
}
.influence-idx5 {
	background-color: var(--influence-idx5);
	color: black;
}
.influence-idx6 {
	background-color: var(--influence-idx6);
	color: white;
}
.frame {
	border-width: 4px;
	border-style: solid;
	padding: 5px 0px;
	top:-1px;
	background-color:transparent;
}
.influence-idx0-box {
  box-shadow: 0px 0px 3px 3px var(--influence-idx0);
}
.influence-idx1-box {
  box-shadow: 0px 0px 3px 3px var(--influence-idx1);
}
.influence-idx2-box {
  box-shadow: 0px 0px 3px 3px var(--influence-idx2);
}
.influence-idx3-box {
  box-shadow: 0px 0px 3px 3px var(--influence-idx3);
}
.influence-idx4-box {
  box-shadow: 0px 0px 3px 3px var(--influence-idx4);
}
.influence-idx5-box {
  box-shadow: 0px 0px 3px 3px var(--influence-idx5);
}
.influence-idx6-box {
  box-shadow: 0px 0px 3px 3px var(--influence-idx6);
}
