:root {	
	--influence-idx0:rgb(71, 110, 0);
	--influence-idx1:rgb(141, 220, 0);
	--influence-idx2:rgb(223,255,165);
	--influence-idx3:rgb(255, 235, 235);
	--influence-idx4:rgb(215,227,255);
	--influence-idx5:rgb(95, 145, 255);
	--influence-idx6:rgb(0, 56, 180);

	--probability-present: rgb(255,255,128);
}

.influence-idx0 {
	background-color: rgb(71, 110, 0);
	color: white;
}
.influence-idx1 {
	background-color: rgb(141, 220, 0);
	color: black;
}
.influence-idx2 {
	background-color:rgb(223,255,165);
	color: black;
}
.influence-idx3 {
	background-color: rgb(255, 235, 235);
	color: black;
}
.influence-idx4 {
	background-color: rgb(215,227,255);
	color: black;
}
.influence-idx5 {
	background-color: rgb(95, 145, 255);
	color: black;
}
.influence-idx6 {
	background-color: rgb(0, 56, 180);
	color: white;
}
.frame {
	border-width: 4px;
	border-style: solid;
	padding: 5px 0px;
	top:-1px;
	background-color:transparent;
}
.influence-idx0-box.frame{
	border-color: rgb(71, 110, 0);
}

.influence-idx1-box.frame {
	border-color: rgb(141, 220, 0);
}
.influence-idx2-box.frame {
	border-color:rgb(223,255,165);
}
.influence-idx3-box.frame {
	border-color: rgb(255, 235, 235);
}
.influence-idx4-box.frame {
	border-color: rgb(215,227,255);
}
.influence-idx5-box.frame {
	border-color: rgb(95, 145, 255);
}
.influence-idx6-box.frame {
	border-color: rgb(0, 56, 180);
}
